* {
  box-sizing: border-box;
  font-size: 16px;
}

html,
body {
  position: relative;
  margin: 0;
  padding-bottom: 1rem;
  height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
  font-weight: bolder;
}
