<%- include inc/head %>
<%- include inc/header %>

<!-- Pseudo prenom nom mot de passe mail civilite obligatoire -->
    <!-- Formulaire -->
    <h2 class="text-center mt-5">Veuillez vous inscrire</h3>

    <form method="post" action="/" class="col-md-8 mx-auto mt-4">
      <fieldset>
        <legend>Identifiants</legend>
        <div class="form-group">
          <label for="pseudo">Pseudo</label>
          <input type="text" name="pseudo" id="pseudo" class="form-control" />
        </div>

        <div class="form-group">
          <label for="mdp">Mot de passe</label>
          <input
            type="password"
            name="mdp"
            id="mdp"
            class="form-control"
            value=""
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            class="form-control"
          />
        </div>
      </fieldset>

      <fieldset class="mt-4">
        <legend>Coordonnées</legend>

        <div class="form-check form-check-inline">
          <input
            type="radio"
            class="form-check-input"
            name="civilite"
            id="radiom"
            value="m"
          />
          <label class="form-check-label" for="radiom">Monsieur</label>

          <input
            type="radio"
            class="form-check-input ml-3"
            name="civilite"
            id="radiom"
            value="f"
          />
          <label class="form-check-label" for="radiom">Madame</label>
        </div>

        <div class="form-row">
          <div class="form-group col-6">
            <label for="prenom">Prénom</label>
            <input type="text" class="form-control" name="prenom" id="prenom" />
          </div>

          <div class="form-group col-6">
            <label for="nom">Nom</label>
            <input type="text" class="form-control" name="nom" id="nom" />
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-3">
            <label for="code_postal">Code Postal</label>
            <input
              type="text"
              class="form-control"
              name="code_postal"
              id="code_postal"
            />
          </div>
          <div class="form-group col-9">
            <label for="ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="ville" />
          </div>
        </div>
      </fieldset>
      <input type="submit" class="btn btn-primary" value="S'inscrire" />
    </form>
    <!-- END Formulaire -->

<%- include inc/footer %>

