<%- include inc/head %> <%- include inc/header %>

<h2 class="text-center mt-5">Connexion</h2>

<form method="" action="" class="col-md-8 mx-auto mt-5 pb-5">
  <div class="form-group">
    <label for="exampleInputEmail1">Email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      placeholder="Mail"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Pseudo</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Pseudo"
    />
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Mot de passe"
    />
  </div>

  <button type="submit" class="btn btn-primary">Connexion</button>
</form>

<%- include inc/footer %>
